<div *ngIf="expanded" [@visibleTrigger]="'visible'" class="details">
  <div>

    <button type="button" [class.wait]="interactionService.getSummaryResultState()" name={{dataInteraction.workspaceName}}
      class="uk-button uk-button-default uk-width-1-1" (click)="showRemoveLayer($event)" [class.uk-button-secondary]="dataInteraction.isSelected">
      <input class="uk-checkbox" type="checkbox" [checked]="dataInteraction.isSelected">
      <ng-container *ngIf="dataInteraction.type_of_layer">{{dataInteraction.type_of_layer}} - </ng-container>{{dataInteraction.name}}
    </button>

  </div>
  <htm-layer-tool *ngIf="dataInteraction.isSelected" [dataInteraction]="dataInteraction"></htm-layer-tool>

</div>
