
:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 0;
    min-width: 0;
    /*max-height: 48px;*/
    padding: 3px;
    font-family: 'Hind', sans-serif;

}
.spinner{
  float: right;
  line-height: 27px;
}
.custom-tooltip {
  opacity: 0;
  z-index:0;
  top: -20px;
  right: 0px;
  padding: 2px;
  position: absolute;
  color: white;
  font-size: 9px;
  background-color: #333333;
  border-radius:5px;
  transition: visibility 0s, opacity 0.2s linear;
}
.details:hover .custom-tooltip{
  opacity: 1;
  z-index:2000;

}
.isSelected{
    color:white;
    background-color: #2889DF;
}
.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    width: 100%;
}
.notifications {
  flex: 1;
  overflow-y: auto;
}
.legend {
  text-align: center;
}
.legend-div {
  padding: 5px;
}
.uk-accordion-content, .uk-accordion{
  margin: 0px !important;
}
.icon {
}
.flaticon-signs-1::before {
  margin: 0px;
}
.message {

}

.date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.6em;
    color: #444444;
}
button{
    padding: 0 5px;
    text-align: left;
    /* font-size: 0.675rem; */
}

input:checked{
    border-color: green !important;
}

input{
    margin: 0px 5px;
}
.uk-button-secondary{
    background-color: #333333;
}

.uk-accordion-title::after {
  display: none;
}

.wait {
  cursor: wait;
}
.uk-button {
  line-height: 28px;
}
