<div class="uk-card uk-card-default uk-overflow-container">
  <table class="uk-table" [style.width.px]="tblBody.offsetWidth">
    <thead><tr>
      <th></th>
      <th>Filename</th>
      <th>Layer</th>
      <th class="uk-text-right">Size (kB)</th>
      <th class="uk-text-center" colspan="2">
          <i class="iButton" (click)="getFiles()">&#8635;</i>
      </th>
    </tr></thead>
  </table>

  <div class="uk-overflow-auto uk-height-small">
    <table class="uk-table uk-table-hover uk-table-striped" #tblBody>
      <tbody>
        <tr *ngFor="let upFile of uploadedFiles">
          <td>
            <input (change)="actionLayer(upFile, $event.target.checked)" type="checkbox" class="uk-checkbox" [disabled]="!upFile.name.split('.').reverse()[0] === 'csv'"/>
          </td>
          <td><p title="{{ upFile.name }}">{{ upFile.name }}</p></td>
          <td><p title="{{ getLayerName(upFile.layer) }}">{{ getLayerName(upFile.layer) }}</p></td>
          <td class="uk-text-right">{{ upFile.size * 1000 | number:'1.1-1' }}</td>
          <td class="uk-text-center"><i class="flaticon-import iButton" (click)="download(upFile)"></i></td>
          <td class="uk-text-center"><i class="flaticon-trash iButton" (click)="delete(upFile)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <table id="tblFoot" class="uk-table" [style.width.px]="tblBody.offsetWidth">
    <tfoot>
      <tr>
        <td></td>
        <td><p *ngIf="isFileOk" title="{{ file2Up.name }}">{{ file2Up.name }}</p></td>
        <td>
          <select class="uk-select" style="width: 100%;" [(ngModel)]="selectedLayer">
            <option *ngFor="let layer of layers" value="{{ layer.workspaceName }}">[{{ layer.category }}] {{ layer.name }}</option>
          </select>
        </td>
        <td class="uk-text-right">
          <span *ngIf="isFileOk">{{ file2Up.size / 1000 | number:'1.1-1' }}</span>
        </td>
        <td class="uk-text-center">
          <i class="flaticon-export iButton" (click)="inputFile.click()"></i>
          <input type="file" accept=".tif,.csv" (change)="onFileChange($event)" style="display:none" #inputFile>
        </td>
        <td class="uk-text-center"><i class="iButton" [class.flaticon-plus]="!isUploading" [class.active]="isFileOk && selectedLayer" id="uploadBtn" (click)="fileUpload()"><div *ngIf="isUploading" uk-spinner></div></i></td>
      </tr>
    </tfoot>
  </table>
</div>