<ul uk-accordion>
    <li *ngFor="let cat of hotmapsDataCategories">
      <h3 class="uk-accordion-title">
        {{cat}}
      </h3>
      <div class="uk-accordion-content">
        <ng-container *ngFor="let data of hotmapsDataArray">
          <div *ngIf="cat === data.category" class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{data.name}}</h3>
            <p class="uk-text-meta uk-margin-remove-top">{{data.last_update}}</p>
            <p>{{data.description}}</p>
            <div class="uk-card-footer">
                <button [disabled]="!data.download_url" class="uk-button uk-button-text" (click)="downloadData(data.download_url)"><span uk-icon="download"></span>Download data</button>
            </div>
          </div>
          <div class="uk-margin"></div>
        </ng-container>
        </div>
    </li>
</ul>

