
.lineargraph{
    padding: 10px;
    height: 400px;
    width: 580px;
    min-height: 400px;
    min-width: 580px;
    position: relative;
}

.ngx-charts-outer > svg{
    overflow: auto !important;
}