
<div class="uk-card uk-card-body htm-card">
  <h5 class="uk-card-title">{{subtitle}} </h5>
  <div class="lineargraph">
      <ngx-charts-line-chart *ngIf="loadProfileData"
      [view]="view"
      [scheme]="colorScheme"
      [results]="loadProfileData"
      [gradient]="false"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="false"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [seriesTooltipTemplate]="tooltipTemplate"
      [yAxisTickFormatting]="yFormatting"
      (select)="onSelect($event)">
      <ng-template #tooltipTemplate let-model="model">
          <div *ngFor="let series of results">
            {{getSeries(series)}}
          </div>
          <h1>
            {{model.name}}
          </h1>
          <p style="color:white">{{model.series}}: {{model.value}} kW</p>
      </ng-template>
    </ngx-charts-line-chart>
  </div>
</div>

