
<div *ngIf="expanded" [@visibleTrigger]="'visible'" class="details">
    <!--  <form class="uk-form">
     <label > -->
       <div>

        <button type="button" name={{dataInteraction.workspaceName}} class="uk-button uk-button-default uk-width-1-1"
        (click)="showRemoveLayer($event,dataInteraction.workspaceName, dataInteraction.id)" [class.uk-button-secondary]="dataInteraction.isSelected">
          <input class="uk-checkbox" type="checkbox"  [checked]="dataInteraction.isSelected" >
          {{dataInteraction.name}}
        </button>

       </div>
      <!-- </label>
    </form>-->
    <div [class.legend]="loading" class="legend-div" *ngIf="dataInteraction.isSelected && dataInteraction.styleName !== 'null'">
        <div *ngIf="loading" class="loader" uk-spinner></div>
        <ul uk-accordion [hidden]="loading">
          <li>
            <div class="uk-accordion-title" href="#">
              <i class="flaticon-signs-1"></i>
            </div>
            <div class="uk-accordion-content">
                <img src="http://hotmaps.hevs.ch:9009/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=50&HEIGHT=10&STRICT=false&style={{dataInteraction.styleName}}" (load)="endLoad()"/>
            </div>
          </li>
        </ul>
    </div>
</div>
