<div #popup *ngIf="data">
    <h5>{{title}}</h5>
    <ul class="uk-list uk-list-divider">
        <li *ngFor="let key of keysData">{{key}} : {{data.features[0].properties[key]}}</li>
    </ul>
    <div class="button-group" [class.noDisplay]="!validation">
        <button *ngIf="validation" type="button" (click)="removePopup()" class="uk-button uk-button-danger uk-button-small uk-width-2-2">cancel</button>
        <button *ngIf="validation" type="button" class="uk-button uk-button-primary uk-button-small uk-width-2-2">Valid selection</button>
    </div>
</div>