
:host {
  border-right: 1px solid #000000;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}


i {
  font-size: 1.5em;
}

.container-panel-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.title-panel-right  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #d3d3d3;;
  padding: 0 8px 0 8px;
  height: 50px;
}

.title-panel-right  span {
  flex: 1;
  font-family: 'Hind', sans-serif;
  font-size: 1.5em;
  padding: 0 8px 0 8px;
}

.title-panel-right --collapsed {
  justify-content: flex-end;
}
.header-summary{
  color: #d3d3d3;
  background:#d2d2d2 ;

}
.notifications {
  flex: 1;
  overflow-y: auto;
}
.uk-accordion-content{
  margin-top:10px;
}

.uk-card-default{

  margin-top:10px;
  width: 380px;
}
a {
  text-decoration: none;
  margin-top: 6px;
}

a:hover {
  cursor: pointer;
}
