
:host {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.uk-table{
  margin-top: 0px;
}
.waitingbox {
  height: 150px;
  width: 100%;
  position: relative;
}
/* .wait-graph-container{
  background-color: rgba(71, 71, 71, 0.3);
  position: relative;
} */

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
  margin: 15px 15px 15px -25px;
}
i {
  font-size: 1.5em;
}

.container-panel-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.title-panel-right  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #d3d3d3;;
  padding: 0 8px 0 8px;
  height: 50px;
}

.title-panel-right  span {
  flex: 1;
  font-family: 'Hind', sans-serif;
  font-size: 1.5em;
  padding: 0 8px 0 8px;
}

.title-panel-right --collapsed {
  justify-content: flex-end;
}
.header-summary{
  color: #d3d3d3;
  background:#333333;

}
htm-summary-result-container{ 
  display:contents;
}
.header-summary > th{
  color:white;
  border-right: 1px solid #f5f5f5;
}
.notifications {
  flex: 1;
  overflow-y: auto;
}
.uk-accordion-content{
  margin-top:10px;
}

.uk-card-default{

  margin-top:10px;
  width: 380px;
}
a {
  text-decoration: none;
  margin-top: 6px;
}

a:hover {
  cursor: pointer;
}

.htm-card{
  padding: 10px;
}


.date-visu{
    text-align: center;
    margin-bottom: 10px;
}
.right{
    float: right;
}
.left{
    float: left;
}
.date-visu > .right, .date-visu > .left {
    cursor: pointer;
}
.date-visu > span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.activebutton{
    background-color: #1e87f0;
    color: white;
}
