<div class="container-panel-right " [@panelWidthTrigger]="expandedState">

    <div class="title-panel-right " [@titleColorTrigger]="expandedState">
      <a [@iconTrigger]="expandedState" class="link" (click)="toggleExpandedState('right')">
        <i class="flaticon-cross" aria-hidden="true"></i>
      </a>
        <span *ngIf="expanded" [@titleTextTrigger]="'in'">{{title}}</span>

    </div>
  <div *ngIf="heatLoadResult;then content else other_content" class="energy-statistic"></div>
  <ng-template #content>
    <ul class="uk-tab" data-uk-tab="{connect:'#my-id3'}">
      <li id="tab1"><a href="">Summary</a></li>
      <li id="tab2"><a href="">Energy Statistics</a></li>

    </ul>
    <ul id="my-id3" class="uk-switcher uk-margin">
      <li><htm-summary-result [summaryResult]="summaryResult" [poiTitle]="poiTitle" [poiData]="poiData" [expanded]="expanded"></htm-summary-result></li>
      <li><htm-graphical-view [heatLoadResult]="heatLoadResult" [expanded]="expanded" ></htm-graphical-view></li>

    </ul>
  </ng-template>

  <ng-template #other_content> <li><htm-summary-result [summaryResult]="summaryResult" [poiTitle]="poiTitle" [poiData]="poiData" [expanded]="expanded"></htm-summary-result></li>
  </ng-template>

  <!-- This is the container of the content items -->

  <!--  <htm-summary-result [summaryResult]="summaryResult" [poiTitle]="poiTitle" [poiData]="poiData" [expanded]="expanded"></htm-summary-result>-->

</div>
