<div [class.isLoggedIn]="isLoggedIn" [class.isLoggedOut]="!isLoggedIn">
  <a href="#modal-login" class="uk-icon-link"  uk-icon="user" uk-toggle>
    <span *ngIf="isLoggedIn">Account</span>
    <span *ngIf="!isLoggedIn">Connect</span>
  </a>
</div>
<div id="modal-login" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <htm-login></htm-login>
  </div>
</div>
<div id="modal-register" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <htm-register></htm-register>
  </div>
</div>
<div id="modal-recover" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <htm-recovery></htm-recovery>
  </div>
</div>
