<div class="containers">
  <div id="selection-tools-box">
    <div>
      <input id="radio-1" class="radio-custom" name="radio-group" type="radio" [checked]="stButtons[0].isChecked" (click)="cursorClick()">
      <label id="cursor" for="radio-1" class="radio-custom-label"></label>
    </div>
    <div>
      <input id="radio-2" class="radio-custom" name="radio-group" type="radio" (click)="drawTool(stButtons[1])">
      <label id="square" for="radio-2" class="radio-custom-label"></label>
    </div>
    <div>
      <input id="radio-3" class="radio-custom" name="radio-group" type="radio" (click)="drawTool(stButtons[2])">
      <label id="circle" for="radio-3" class="radio-custom-label"></label>
    </div>
    <div >
      <input id="radio-4" class="radio-custom" name="radio-group" type="radio" (click)="drawTool(stButtons[3])">
      <label id="polygon" for="radio-4" class="radio-custom-label"></label>
    </div>
  </div>
  <div id="info-box">
  	<div class="uk-container uk-padding-remove">
  		<div>
    		<p>Element selected<span>{{nbNutsSelected}}</span></p>
    		<p>Scale<span>{{scaleSelected}}</span></p>
      	<!--	<p>Area<span>0 km2</span></p> -->
  		</div>
  		<div class="divButtons">
  			<button id="loadBtn" class="uk-button uk-button-primary uk-button-small" [disabled]="isLoaBtnDisabled" (click)="loadResultsButton()">Load results</button>
  			<button id="clearBtn" class="uk-button uk-button-danger uk-button-small" [disabled]="isClearBtnDisabled" (click)="clearAllButton()">Clear all</button>
  		</div>
  	</div>
  </div>

</div>
