<a href="#modal-example" class="uk-icon-link" uk-icon="user" uk-toggle></a>



<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">LOGIN</h2>
    <p>
      <label class="uk-form-label" for="form-horizontal-text">Username</label>
      <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Some text..." />
    </p>
    <p>
      <label class="uk-form-label" for="form-horizontal-text">Password</label>
      <input class="uk-input" id="form-horizontal-text" type="password" placeholder="Some text..." />
    </p>
    <p>
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button">Connect</button>
    </p>
  </div>
</div>
