<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button
    class="uk-modal-close-full uk-close-large"
    type="button"
    uk-close
    ></button>
    <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
      <!-- <div class="uk-background-cover" uk-height-viewport>
      </div> -->
      <div class="uk-padding-large main-container">
        <div class="uk-column-1-2">
          <div class="logo-container hotmaps">
            <img src="../../../assets/first-page/hotmaps_logo.png" />
          </div>
          <div class="logo-container parteners">
            <img src="../../../assets/first-page/parteners.png" />
          </div>
        </div>
        <p>
          The <strong>Hotmaps</strong> project aims at designing an open source toolbox to support public authorities, energy agencies and urban planners in strategic heating and cooling planning on local, regional and national levels, and in line with EU policies.
          <br/>
          More information on the project can be found here: <a class="uk-link-heading" href="https://www.hotmaps-project.eu" target="_blank">https://www.hotmaps-project.eu</a>
        </p>
        <p>
          <strong>Hotmaps Wiki:</strong> For details about tool functionalities as well as the manual for using the calculation modules, please refer to the Hotmaps Wiki:
          <a class="uk-link-heading" href="https://wiki.hotmaps.eu" target="_blank">https://wiki.hotmaps.eu</a>
        </p>
        <p>
          <strong>Open source:</strong>
          The developed tool and all related modules run without requiring any other commercial tool or software. Use of and access to Source Code is subject to Open Source Licenses.
          The datasets that are used in the tool can be found at <a class="uk-link-heading" href="https://www.gitlab.com/hotmaps" target="_blank">https://www.gitlab.com/hotmaps</a>
          The source code of the tool can be accessed via <a class="uk-link-heading" href="https://www.github.com/hotmaps" target="_blank">https://www.github.com/hotmaps</a>

        </p>
        <p>
          <strong>Feedback and contributions:</strong>
          We are happy to receive feedback on the tool.
          Please use the feedback-button in the toolbox to let us know your opinions and suggestions for the tool.
          Hotmaps also invites other developers to contribute with additional calculation modules or datasets that can be integrated in the toolbox.
          Please also get in contact with us if you want to take part in the future development of the toolbox.
        </p>
        <div>
          <strong>Supported browsers:</strong>
          <ul class="nolist">
            <li><img class="supported-browser" src="assets/first-page/firefox.png" /> <span class="browser-label">Firefox version 76.0.1</span></li>
            <li><img class="supported-browser" src="assets/first-page/chrome.png" /> <span class="browser-label">Chrome version 83.0.4103.61</span></li>
          </ul>
        </div>
        <p>
          <strong>Disclaimer:</strong>
          The data and tools provided on this website are indicative and for research purposes only.
          No responsibility is taken for the accuracy of included data, figures and results or for using them for unintended purposes.
        </p>
        <p>
          <strong>Data privacy:</strong> By clicking OK below, you accept that this website may use cookies.
        </p>
        <div class="europe-logo">
          <img src="../../../assets/first-page/co-funded-h2020-horiz_en.png" />

          <span>
            This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 723677
          </span>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
        </p>
      </div>
    </div>
  </div>
</div>
