<h2 class="uk-modal-title">REGISTER</h2>
<!--   <input class="uk-input" id="login-password" type="password" placeholder="Password" (keyup.enter)="connect()" [(ngModel)]="password" [value]="password" required />
 -->
  <p>
  <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Firstname" [(ngModel)]="firstname" required />
  </p>
  <p>
  <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Lastname" [(ngModel)]="lastname" required />
  </p>
  <p>
  <input class="uk-input" id="form-horizontal-text" type="email" placeholder="Email" [(ngModel)]="email" required />
  </p>
  <p>
  <input class="uk-input" id="form-horizontal-text" type="password" placeholder="Password" [(ngModel)]="password" required />
  </p>
  <p>
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)="createAccount()">Create account</button>
  </p>
