
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}




.button-navbar {
  height: 30px;
  width: 30px;
  margin:10px;
  border-bottom-color:#000000;
}


.title-map {
  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 6vh;
  height: 6vh;
  transition: width 0.4s ease-in-out;
  font-family:Arial;
  font-size:12px;
  padding:10px;
  background-color: #333333;
  color:#ffffff;
  border-radius: 0px;

  border-bottom: solid 1px white;
}
#map {

  bottom:0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  top:0px;
  left: 0%;
  bottom:0;
  width:100%;
}

.container-map {
  min-height: 94vh;
  height:94vh;
  display: flex;
  flex-direction: row;
  width:100%;
  margin:0;
  padding:0;
}

