:host {
  z-index: 1050;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: black 1px solid;
}

div.title-panel {
  background-color: #333;
  position: relative;
  padding: 5px 15px;

  line-height: 50px;

  h2 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
  }

  i {
    position: absolute;
    right: 10px;
    top: 0;

    cursor: pointer;
    color: #1e87f0;

    &:hover {
      color: #0f6ecd;
    }
  }
}

table {
  margin: 0;
}
