<div class="tool-container">
  <button [class.uk-button-primary]="isLegendDisplayed" class="uk-icon-button uk-button-default" uk-icon="paint-bucket" (click)="toggleLegend()" uk-tooltip="title: Layer symbology; pos: bottom"></button>
  <button [class.uk-button-primary]="isInfoDisplayed" class="uk-icon-button uk-button-default" uk-icon="info" (click)="toggleInformations()" uk-tooltip="title: Informations; pos: bottom"></button>
  
  <button [hidden]="!hasZoneSelected" class="uk-icon-button uk-button-default" (click)="export()" uk-tooltip="title: Download layer selection; pos: bottom">
    <img class="icon-download" src="../../../assets/logo_download_selection.svg" />
  </button>
  <a *ngIf="dataInteraction.download_url" href="{{ dataInteraction.download_url }}" target="_blank" download="{{ dataInteraction.download_url }}">
    <button  class="uk-icon-button uk-button-default" uk-tooltip="title: Download default dataset; pos: bottom">
    <img class="icon-download" src="../../../assets/logo_download_all.svg" />
  </button></a>  
  <div *ngIf="loading" uk-spinner></div>
</div>

<!--
  Layer legend
-->
<div [hidden]="!isLegendDisplayed" class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Symbology</h3>
  <div class="card-content">
    <ng-container *ngIf="dataInteraction.custom_symbology">
      <htm-custom-symbology [symbolgies]="dataInteraction.custom_symbology"></htm-custom-symbology>
    </ng-container>
    <ng-container *ngIf="!dataInteraction.custom_symbology">
      <img [hidden]="!displayLegend" src="{{imageUrl}}{{dataInteraction.layer_type}}" (load)="endLoadLegend()" />
      <div *ngIf="!displayLegend" class="loader" uk-spinner></div>
    </ng-container>
  </div>
</div>
<div *ngIf="isLegendDisplayed" class="uk-margin"></div>
<!--
  Layer informations
-->
<div *ngIf="isInfoDisplayed" class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Informations</h3>
  <div *ngIf="dataInteraction.description" class="card-content">
    <p>
      {{dataInteraction.description}}
    </p>
  </div>
</div>
<div *ngIf="isInfoDisplayed" class="uk-margin"></div>
