:host {
  z-index: 1025;
  width: 100%;
  height: 100%;
  border: 0;
}

div.uk-container {
  padding: 7px;
}

i.iButton {
  cursor: pointer;
  margin-left: 0;

  &:hover {
    color: black;
  }

  &::before {
    margin-left: 0;
  }
}
table {
  margin: 0;
  table-layout: fixed;
}

td p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th:nth-child(1), td:nth-child(1) {
  width: 30%;
}
th:nth-child(2), td:nth-child(2) {
  width: 30%;
}
td:nth-child(3), th:nth-child(3) {
  width: 20%;
}
th:nth-child(4) {
  width: 20%;
}
td:nth-child(4), td:nth-child(5) {
  width: 10%;
}
