<div style="height: 100%;" #mainDiv>
    <div class="uk-container uk-card-default">
        <table class="uk-table" [style.width.px]="tblBody.offsetWidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Last date</th>
                    <th>
                        <i class="iButton" (click)="refresh()">&#8635;</i>
                    </th>
                </tr>
            </thead>
        </table>

        <div class="uk-overflow-auto" [style.max-height.px]="mainDiv.offsetHeight/2">
            <table class="uk-table uk-table-hover uk-table-striped" #tblBody>
                <tbody>
                    <tr *ngFor="let snapshot of snapshots">
                        <td>{{ snapshot.name }}</td>
                        <td>{{ snapshot.description }}</td>
                        <td>{{ snapshot.date }}</td>
                        <td class="uk-text-center"><i class="flaticon-success iButton" (click)="apply(snapshot)"></i></td>
                        <td class="uk-text-center"><i class="flaticon-trash iButton" (click)="delete(snapshot)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>