<div class="container-panel-left" [@panelWidthTrigger]="expandedState">
    <div class="title-panel-left" [@titleColorTrigger]="expandedState">
        <span *ngIf="expanded" [@titleTextTrigger]="'in'">{{title}}</span>
        <a [@iconTrigger]="expandedState" class="link" (click)="toggleExpandedState('left')">
          <i class="flaticon-cross" aria-hidden="true"></i>
        </a>
    </div>

  <div class="notifications">
    <span *ngIf="expanded" [@titleTextTrigger]="'in'">
      <ul uk-accordion *ngFor="let i of category">
        <li class="uk-open">
          <h3 class="uk-accordion-title">
            {{i}}
          </h3>
          <div class="uk-accordion-content">
            <ng-container *ngFor="let n of layers" >
              <span *ngIf="i === n.category">
                <data-interaction-cell [dataInteraction]="n" [expanded]="expanded"></data-interaction-cell>
              </span>
            </ng-container>
          </div>

        </li>
      </ul>
    </span>

  </div>
</div>
