<div class="container-panel-left" [@panelWidthTrigger]="expandedState">
    <div class="title-panel-left" [@titleColorTrigger]="expandedState">
        <span *ngIf="expanded" [@titleTextTrigger]="'in'">{{title}}</span>
        <a [@iconTrigger]="expandedState" class="link" (click)="toggleExpandedState(); closePanel('left')">
          <i class="flaticon-cross" aria-hidden="true"></i>
        </a>
    </div>

  <div class="notifications">
    <ul class="uk-flex-center" uk-tab id="uk-tab-left-panel">
      <li class="uk-active layers-tab"><a href="#">layers</a></li>
      <li [class.uk-disabled]="!isZoneSelected"><a href="#" (click)="updateCmss()">Calculation modules</a></li>
    </ul>
    <ul id="my-id3" class="uk-switcher">
      <li>
          <span *ngIf="expanded" [@titleTextTrigger]="'in'">
            <htm-personnal-layers *ngIf="isConnected"></htm-personnal-layers>
            <htm-share-layers *ngIf="isConnected"></htm-share-layers>
              <ul uk-accordion *ngFor="let i of category">
                  <li class="uk-open">
                    <h3 class="uk-accordion-title">
                      {{i}}
                    </h3>
                    <div class="uk-accordion-content">
                      <ng-container *ngFor="let n of layers" >
                        <span *ngIf="i === n.category">
                          <layers-interaction-cell (click)="updateCmss()" [dataInteraction]="n" [expanded]="expanded" disabled="true"></layers-interaction-cell>
                        </span>
                      </ng-container>
                    </div>

                  </li>
              </ul>
            </span>
      </li>
      <li [hidden]="!isZoneSelected">
          <htm-cms [expandedState]="expandedState" [expanded]="expanded" [layersSelected]="layersSelected" [scaleLevel]="scaleLevel" [selectionSurface]="selectionSurface"></htm-cms>
      </li>
    </ul>
  </div>
</div>
