<div class="container-panel-left" [@panelWidthTrigger]="expandedState">
    <div class="title-panel-left" [@titleColorTrigger]="expandedState">
        <span *ngIf="expanded" [@titleTextTrigger]="'in'">{{title}}</span>
        <a class="link" (click)="toggleExpandedState()">
            <i [@iconTrigger]="expandedState" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </a>
    </div>

  <div class="notifications">
    <data-interaction-cell *ngFor="let n of layers"
                           [dataInteraction]="n"
                           [expanded]="expanded"></data-interaction-cell>
  </div>
</div>
